[Desktop Entry]
Name=Innatical ID
Comment=Manage Your Innatical ID
GenericName=Utility
Exec=python3 /usr/bin/innaticalid/main.py
Icon=~/usr/share/pixmaps/id.png
Type=Application
StartupNotify=false
Categories=Accessories
