[Desktop Entry]
Name=Innatical ID
Comment=Manage Your Innatical ID
GenericName=Utility
Exec=python3 /boop/innaticalid/main.py
Icon=/boop/innaticalid/icon.png
Type=Application
StartupNotify=false
Categories=Accessories
